/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  @include center;
  margin-top: 10px;
  @include max-width;
  max-height: 100%;
}

.img-frame {
  @include center;
  margin-top: 10px;
  @include max-width;
  padding: 13px;
  border: 1px solid $color-border;
}

.img-logo {
  @include center;
}
