/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-default;
}

.error {
  background-color: $button-error;
}

.info {
  background-color: $button-info;
}

.success {
  background-color: $button-success;
}

.warning {
  background-color: $button-warning;
}
